[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
mypy = "*"
pep8 = "*"
rope = "*"
nose = "*"

[packages]
kafka-python = "*"
jxmlease = "*"
lxml = "*"
xmltodict = "*"

[requires]
python_version = "3.6"
